/* Standard Elements */
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  /* background-color: #23282e; */
  background-color: #fcfcfc;
  color: #3b3b3b;
  /* background: rgb(35,40,46);
  background: linear-gradient(0deg, rgba(35,40,46,1) 0%, rgba(198,130,77,1) 83%); */
}

/* Mobile optimization */
@media only screen and (max-width: 600px) {
  body {

  }
}

h1, h2, h3 {
  font-family: 'Archivo Black', sans-serif;
}

input {
  font-size: 1em;
  width: 50%;
  padding: 1% 2% 1% 2%;
  margin-bottom: 1%;
  border-radius: 1em;
  border: none;
  background-color: #23282e;
}


input[type=text] {
  padding: 2%;
  font-size: 1.5em;
  box-sizing: border-box;
  outline: none;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  color: white;
}

input[type=text]:focus {
  width: 80%;
}

/* Mobile optimization */
@media only screen and (max-width: 870px) {
  input[type=text] {
    width: 100%;
    font-size: 2em;
    padding: 2% 3% 2% 3%;
    margin-bottom: 4%;
  }
  input[type=text]:focus {
    width: 100%;
  }
}

.splash {
  height: 78vh;
  overflow: hidden;
  background-image: url("../media/splash2.png");
  background-size: cover;
  background-position: center;
  /* -webkit-box-shadow: 0px 28px 55px -24px rgba(0,0,0,0.62);
-moz-box-shadow: 0px 28px 55px -24px rgba(0,0,0,0.62);
box-shadow: 0px 28px 55px -24px rgba(0,0,0,0.62); */
}

.splash-text {
  padding: 0% 10% 0% 10%;
  /* background-color: #23282e; */
  background-color: #001029;
  color: #B87921;
  margin-top: -1.5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.header-h1 {
  text-align: center;
  font-size: 3em;
}

/* Mobile optimization */
@media only screen and (max-width: 600px) {
  .splash {
    height: 100vh;
  }

  .splash-img {
    width: 500%;
  }
}

.splash-img {
  width: 100%;
  display: none;

}

/* Mobile optimization */
@media only screen and (max-width: 600px) {
  .splash {
    height: 100vh;
    background-image: url("../media/mobile-background.png");
  }

  .splash-img {
    width: 300%;
    /* s */
    /* margin-right: 40%; */
  }
}


.index-container {
  /* padding: 2% 15% 2% 15%; */
  margin-bottom: 5%;
}


.what-we-do {
  padding-bottom: 3%;
  overflow: auto;
  padding: 0% 10% 0% 10%;
}

.what-we-do-col1 {
  width: 40%;
  float: left;
  padding-top: 1%;
  /* background-color: red; */
}

.what-we-do-col2 {
  width: 60%;
  float: right;
  padding-top: 1%;
  /* background-color: green; */
}

.what-we-do-img {
  width: 100%;
}

/* Mobile optimization */
@media only screen and (max-width: 600px) {
  .what-we-do-col1 {
    width: 90%;
    float: none;
  }
  .what-we-do-img {
    width: 100%;
  }
  .what-we-do-col2 {
    width: 90%;
    float: none;
  }
}

.page-break {
  margin-bottom: 5%;
  width: 90%;
  text-align: center;
}

.contact-text {
  font-size: 1.4em;
}

.our-services {
  overflow: auto;
  padding: 0% 10% 0% 10%;
}

.contact-button {
  float: left;
  background-color: lightgrey;
  color: black;
  text-decoration: none;
  padding: 2% 5% 2% 5%;
  border-radius: 2% 2% 2% 2%;
  margin-right: 50%;
}







/* Contact Page Starts */
.contact-container {
  width: 90%;
  margin: auto;
  overflow: auto;
}

.contact-form {
  width: 80%;
  margin: auto;
  text-align: center;
  overflow: auto;x
}

.contact-nav {
  width: 40%;
  /* background-color: red; */
  overflow: auto;
  margin: auto;
}




.submit-button {
  padding: 1% 2% 1% 2%;
  border-radius: 1em;
  border: none;
}

/* Mobile optimization */
@media only screen and (max-width: 600px) {
  .submit-button {
    padding: 3% 2% 3% 2%;
    /* width: 30%; */
    margin-top: 3%;
    font-size: 2em;
  }
}

.contact-h1 {
  float: left;
  font-size: 2.4em;
}

.contact-redirect {
  float: left;
  padding: 2% 3% 2% 3%;
  text-decoration: none;
  background-color: lightgrey;
  color: #656565;
  font-size: 1.4em;
  margin-top: 5%;
  border-radius: 1em;
}




/* Footer */
.footer {
  padding: 3% 10% 1% 10%;
  background-color: #23282e;
  text-align: center;
}

.footer-nav-a {
  text-decoration: none;
  color: lightgrey;
}

#active {
  color: white;
}

.footer-text {
  color: lightgrey;
}
